.recomendation-history {
    background-color: var(--clr-void);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5rem;
    padding: 3.5rem;
}

.history__title {
    text-align: center;
}

.history__div-line {
    background-color: var(--clr-light);
    height: 1px;
    width: 100%;
}

.history__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.history__item {
    border: 10px solid var(--clr-dark);
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
    padding: 2rem 5rem 2rem 2rem;
    text-align: center;
}

.history__item p {
    margin: auto;
}

.history__cover {
    width: 80px;
    height: auto;
    border-radius: 10%;
}

@media (min-width: 768px) {
    .history__title {
        font-size: var(--size-3xl);
    }

    .history__item {
        font-size: var(--size-base);
    }

    .history__cover {
        width: 100px;
    }
}

@media (min-width: 1024px) {
    .history__content {
        gap: 3rem;
    }

    .history__item {
        font-size: var(--size-lg);
        padding: 3rem;
    }

    .history__cover {
        width: 105px;
    }

}