.section__register {
    background-image: url('/src/assets/backgrounds/digital-noise-rotated.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 1rem;
    position: relative;
    z-index: 1;
}

.section__register::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(5px);
    filter: brightness(20%);
    z-index: -1;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 1);
    opacity: 0.5;
}

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-void);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    width: 800px;
}

.register__title {
    font-size: var(--size-2xl);
    margin-bottom: 1rem;
}

.register__form {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 1.5rem;
}

.form__username,
.form__password,
.form__email {
    display: flex;
    flex-direction: column;
    letter-spacing: 0.05rem;
    font-size: var(--size-sm);
    gap: 0.6rem;
}

.form__password {
    margin-top: 0.8rem;
}

.form__input {
    padding: 0.5rem 0.7rem 0.5rem 1rem;
    outline: none;
    border: 2px solid #373737;
    font-size: var(--size-base);
    border-radius: 4px;
    color: var(--clr-light);
    background-color: transparent;
}

.register__btn {
    margin: 1rem 0.5rem 1rem 0.5rem;
    align-self: center;
    width: 40%;
}

.hidden {
    /* NO se sabe qué elementos tengan un display ya predeterminado de utils.css*/
    display: none !important;
}

@keyframes terminalEntrance {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }

    50% {
        opacity: 0.5;
        transform: translateX(5px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.form__username,
.form__email,
.password-fields,
.register__btn {
    opacity: 0;
    transform: translateX(-10px);
    animation: terminalEntrance 0.7s ease-out forwards;

}

.show-element {
    opacity: 1;
    transform: translateX(0);
    animation: terminalEntrance 0.5s ease-out forwards;
}


.terminal__text {
    color: var(--clr-purple);
    background-color: #111111;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(188, 141, 251, 0.4), 0 0 10px rgba(117, 9, 188, 0.15);
    text-shadow: 0 0 3px rgba(188, 141, 251, 0.5), 0 0 5px rgba(117, 9, 188, 0.3);
    border: 1px solid rgba(188, 141, 251, 0.25);
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

@keyframes terminalBlink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

.terminal__text::after {
    content: '|';
    animation: terminalBlink 1s infinite;
    color: var(--clr-metal-purple);
    margin-left: 0.2rem;
    font-weight: bold;
}

@media (min-width: 640px) {
    .register {
        max-width: 65%;
    }
}

@media (min-width: 1024px) {
    .register {
        max-width: 600px;
    }

    .form__username,
    .form__password,
    .form__email {
        font-size: var(--size-base);
    }
}