.content main {
    width: 100%;
    padding: 50px 50px;

    .header {
        margin-bottom: 20px;

        h1 {
            margin-bottom: 10px;
        }

        span {
            font-size: var(--size-regular);
            color: var(--clr-light);
        }
    }

    .main__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}

.login__buttons {
    width: 100%;
}

.login__button {
    width: 250px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
    font-weight: bold;
    gap: 15px;
    background-color: #2c2d31;
    border-color: var(--clr-light);
    border: 2px solid;
}


.login__button.spotify {
    border: 2px solid;

    img {
        width: 30px;
        height: 30px;
    }
}

.login__button.spotify:hover {
    color: #1db954;
    /* background-color: #1db954; */
    border: 2px solid;
    font-weight: bold;
    /* svg {
        fill: var(--clr-void);
    } */
}

.login__button.netflix {
    img {
        width: 30px;
        height: 30px;
    }
}

.login__button.netflix:hover {
    color: #e60815;
    border: 2px solid;
    font-weight: bold;
}

.login__button.mal {
    margin-right: 200px;

    img {
        width: 30px;
        height: 30px;
    }
}

.login__button.mal:hover {
    color: #2e51a2;
    border: 2px solid;
    font-weight: bold;
}


.container__netflix.show {

    a {
        display: none;
    }

    .movie__container {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 10px;
        border: #e60815 solid 3px;
        border-radius: 7px;
        padding: 10px;
        margin-top: 20px;
        width: 110%;
    }

    .movie__card {
        background-color: var(--clr-void);
        border-radius: 7px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 0 270px;
    }

    .movie__title {
        font-size: 1.5em;
        margin-bottom: 10px;
        color: var(--clr-light);
        text-align: center
    }

    .movie__poster {
        width: 120px;
        border-radius: 7px;
        justify-content: center;
        margin: auto;
    }

    .movie__info {
        font-size: 0.9em;
        color: var(--clr-light);
        text-align: left;
        margin-top: 10px;
    }




    /* Personalizar barra de desplazamiento */
    .movie__container::-webkit-scrollbar {
        height: 6px;
        /* Altura de la barra de desplazamiento */
    }

    .movie__container::-webkit-scrollbar-thumb {
        background-color: #e60815;
        /* Color del "pulgar" de la barra */
        border-radius: 7px;
    }

    .movie__container::-webkit-scrollbar-track {
        border-radius: 4px;
    }
}